@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
}

/* Nav bar */

#overlay {
  background-image: url(./assets/background.jpg);
  height: 100vh;
  opacity: 0.3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

nav {
  max-width: 1200px;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  align-items: center;
}

nav img {
  width: 148px;
  height: 40px;
  transform: scale(2);
  object-fit: contain;
  filter: contrast(10);
}

.nav-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-info #btn-1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  padding: 13px 55px;
}

.nav-info #btn-1 img {
  width: 7px;
  filter: invert(1);
}

.nav-info #btn-2 {
  background-color: red;
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 6px 14px;
  letter-spacing: -0.5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s;
}

.nav-info #btn-2:hover {
  background-color: rgb(196, 3, 3);
}

/* Hero Section */

#hero {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 10px;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
}

#hero h2 {
  font-size: 56px;
  line-height: 70px;
}

#hero #p1 {
  font-size: 20px;
  font-weight: bold;
}

#hero #p2 {
  font-size: 16px;
  margin-top: 25px;
}

#input-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#hero #input-cta input {
  background-color: #1e1e1ea0;
  border: 1px solid #ccc;
  padding: 10px 10px;
  width: 350px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

#hero #input-cta button {
  background-color: red;
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#hero #input-cta button:hover {
  background-color: rgb(196, 3, 3);
}

#hero #input-cta button img {
  filter: invert(1);
}

/* Divder */
#divider {
  width: 100vw;
  height: 10px;
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
}

/* Trending Section */
#trending {
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 40px;
}

#card-cont {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  padding: 20px 5px;
  flex-wrap: wrap;
  gap: 40px;
}

#trending h2 {
  font-size: 24px;
  color: #ffffff;
}

.card {
  background-image: url(./assets/t1.webp);
  width: 180px;
  height: 252px;
  object-fit: contain;
  border-radius: 10px;
  background-position: center;
  transition: all 0.4s;
  position: relative;
  padding-inline: 20px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.num {
  color: #000000;
  font-weight: bolder;
  font-size: 100px;
  -webkit-text-stroke: 2px #ffffff;
  position: absolute;
  bottom: -16px;
  left: -21px;
}

.c2 {
  background-image: url(./assets/t2.webp);
}

.c3 {
  background-image: url(./assets/t3.webp);
}

.c4 {
  background-image: url(./assets/t4.webp);
}

.c5 {
  background-image: url(./assets/t5.webp);
}

/* Reasons to join section */

#join {
  color: #ffffff;
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 40px;
}

#feat-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.feat-card {
  width: 291px;
  height: 300px;
  background: linear-gradient(to bottom, #071855, #28142d);
  padding: 20px;
  border-radius: 15px;
  position: relative;
}

#join h2 {
  margin-bottom: 20px;
}

.feat-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.feat-card p {
  font-size: 16px;
  color: #a2a1a1c8;
  font-weight: bold;
}

.feat-card img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Faq Section */
#faq {
  color: #ffffff;
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 40px;
}

#faq-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#faq h3 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}
#faq img {
  filter: invert(1);
}

.faq-qa {
  background-color: #2d2d2d;
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.faq-qa:hover {
  background-color: #4e4c4c;
}

.faq-qa p {
  font-size: 22px;
  font-weight: 500;
}

/* more marketing */
#another-cta {
  text-align: center;
  color: #ffffff;
  margin: 10px 20px;
}

#another-cta #input-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
#another-cta #input-cta input {
  background-color: #1e1e1ea0;
  border: 1px solid #ccc;
  padding: 10px 10px;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

#another-cta #input-cta button {
  background-color: red;
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#another-cta #input-cta button:hover {
  background-color: rgb(196, 3, 3);
}
#another-cta #input-cta button img {
  filter: invert(1);
}

footer {
  color: rgba(255, 255, 255, 0.7);
  max-width: 1200px;
  margin: 40px auto;
  padding: 10px 40px;
}

footer h4 {
  margin-bottom: 20px;
}

footer #link-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
footer #link-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

footer a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

footer #btn-1 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
  font-size: 15px;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  padding: 13px 55px;
}

footer #btn-1 img {
  filter: invert(1);
}

footer h5 {
  font-weight: 400;
  margin-top: 50px;
}
